<div style="margin-top: -105px;">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi-hdd-fill"></i><!--bi de booststarp icon-->
            <h3>Back-end</h3>

            <p>Desarrollo de diversos proyectos</p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                ASP.Net Core, SQL Server
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>WEB API's</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>ASP.NET 4.3</li>
            </ul>
        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi-code-slash"></i><!--bi de booststarp icon-->
            <h3>Front-End</h3>
            <p>
                CReacion de front-ends robustos cumpliendo con los requerimientos solicitados.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                React, Angular y Blazor
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>JQuery</li>
                <li>Javascript</li>
                <li>CSS</li>
            </ul>
        </div>
    </div>
</div>