<div class="text-center">
    <h1 class="display-4">Francisco Sánchez</h1>
    <h2>Desarrollador full stack especializado en tecnologías .NET, PHP y Javascript.</h2>

    <img id="foto" src="~/imagenes/foto.jpg" alt="Foto de Paco" /><!--cachealt es por si no esta la imagen se pondra el texto, la virgulilla ~ sirve para poder de ahi tomar la raiz si la apicacion no esta en un drectorio virtual-->
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Ingeniero en Informática por el Instituto Politecnico Nacional. Graduado en el año 2017, he laborado en diferentes empresas e instituciones de gobierno
            tales como Cynthus, Grupos PISA y el Institut Mexicano de Cinematografia.
        </p>
    </div>
</div>